F1_tweets.csv
F1_tweets_limpio.csv.gz
BACKEND/EMOTION-AS-A-SERVICE/model/DATA/Tweets/tweets_cleaned.csv

# Archivos grandes
BACKEND/EMOTION-AS-A-SERVICE/model/DATA/Tweets/tweets_cleaned.csv
**/env/
**/venv/
